.row{
    display:flex;
    justify-content: space-evenly;
}

.food-item{
    border: 1px solid green;
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    border: 1px solid black;
    animation:spin 4s  linear infinite;
    
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }